@width: 500px;
@height: 600px;

@bg: rgba(255, 255, 255, 0.8);
@fg: #111;
@fg-secondary: #247de1;

@content-top: 400px;

html {
    font-family: arial;
    color: @fg;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    border-radius: 5px;
    background-color: @fg-secondary;
    border: 5px solid transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;

    &:before {
        padding-right: 10px;
    }
}

.button-start {
    display: block;
    margin: 0 0 0 auto;

    &:before {
        content: "\25b6";
    }
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: @width;
    height: @height;
    overflow: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-photo {
    transition: opacity 1s;
}

.content-loading {
    background-color: @bg;
    padding: 20px;
}

.content-loading-title {
    font-family: georgia;
    font-size: 24px;
    color: @fg-secondary;
    margin: 0;
}

.content-main {
    margin-top: @content-top;
    padding: 20px;
    background-color: @bg;
    opacity: 0;
    transition: opacity 0.5s;
}

.top {
    display: table;
    width: 80%;
    margin: 0 auto 5px;
}

.top-money,
.top-clock {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}

.top-money {
    line-height: 24px;

    &:before {
        content: "$";
        color: @fg-secondary;
        padding-right: 3px;
        font-size: 24px;
        font-weight: bold;
        vertical-align: middle;
    }
}

.top-clock-inner {
    vertical-align: middle;
    padding-right: 2px;
}

.progress {
    position: relative;
    margin: 0 auto;
    width: 80%;
    border: 3px solid @fg;
    height: 30px;
}

.progress-fg {
    position: absolute;
    background-color: @fg-secondary;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 25px, rgba(255,255,255,.2) 25px, rgba(255,255,255,.2) 50px);
    height: 100%;
}
